<div #navigation class="navigation">
  <nav>
    <div #navigationLogo class="logo">
      <img *scImage="rendering.fields.logo" />
    </div>
    <div #navigationLinks>
      <a *ngFor="let navLink of rendering.fields.links" [href]="navLink.fields.link.value.href">{{navLink.fields.linkTitle.value}}</a>
    </div>
    <div #navigationCta class="cta-button">
      <a *scLink="rendering.fields.requestLink"><p *scText="rendering.fields.requestLinkTitle"></p></a>
    </div>
  </nav>
</div>

<div #mobileNavigation class="mobileNavigation hidden">

</div>
