.navigation {
    background-color: #FFF;
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 5rem;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.navigation nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 1rem;
    padding: 0;
}

.nav-links {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.875rem;
}

.cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10.1875rem;
    height: 2.75rem;
    flex-shrink: 0;
}

.logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes fadeIn {
    0% {
      box-shadow: none;
    }
    100% {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
  
.fade-in {
    animation-name: fadeIn;
    animation-duration: 1s;
}

@keyframes fadeOut {
    0% {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    100% {
      box-shadow: none;
    }
  }
  
.fade-out {
    animation-name: fadeOut;
    animation-duration: 1s;
}

.buffer {
margin-top: 6rem;
}