<div #navigation class="navigation" [ngClass]="isScrolled ? 'fade-in nav-shadow' : 'fade-out'">
  <nav>
    <div #navigationLogo class="logo">
      <img *scImage="rendering.fields.logo" />
    </div>
    <div #navigationLinks class="nav-links">
      <a *ngFor="let navLink of rendering.fields.links" [href]="navLink.fields.link.value.href">{{navLink.fields.linkTitle.value}}</a>
    </div>
    <div #navigationCta class="ctabutton">
      <a *scLink="rendering.fields.requestLink"><p *scText="rendering.fields.requestLinkTitle" class="text-white"></p></a>
    </div>
  </nav>
</div>

<div #mobileNavigation class="mobileNavigation hidden">

</div>

<div class="buffer"></div>
