<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="Analytics.ForwardedRequestHttpHeader" set:value="X-Forwarded-For" />
    </settings>
    <sites>
      <!--
        JSS Site Registration
        This configures the site with Sitecore - i.e. host headers, item paths.
        If your JSS app lives within an existing Sitecore site, this may not be necessary.
      -->
      <site name="easybank"
            inherits="website"
            hostName="cm.easybank.localhost"
            rootPath="/sitecore/content/easybank"
            patch:before="site[@name='website']" />
    </sites>
    <javaScriptServices>
      <apps>
        <!--
          JSS App Registration
          The JSS app needs to be registered in order to support layout service and import services.

          There are many available attributes, and they inherit the defaults if not explicitly specified here.
          Defaults are defined in `/App_Config/Sitecore/JavaScriptServices/Sitecore.JavaScriptServices.Apps.config`

          NOTE: graphQLEndpoint enables _Integrated GraphQL_. If not using integrated GraphQL, it can be removed.

          NOTE: This app configuration assumes a Sitecore-first approach and thus disables the JSS Workflow for
          initial app import, and does not protect imported items.
        -->
        <!-- <app name="easybank"
             sitecorePath="/sitecore/content/easybank"
             graphQLEndpoint="/sitecore/api/graph/edge"
             serverSideRenderingEngine="http"
             serverSideRenderingEngineEndpointUrl="http://rendering:3000/api/editing/render"
             serverSideRenderingEngineApplicationUrl="$(env:RENDERING_HOST_PUBLIC_URI)"
             useLanguageSpecificLayout="true"
             defaultWorkflow=""
             protectDeveloperItems="false"
             deploymentSecret="$(env:JSS_easybank_DEPLOYMENT_SECRET)"
             debugSecurity="false"
             inherits="defaults" /> -->
             <app name="easybank"
             layoutServiceConfiguration="default"
             sitecorePath="/sitecore/content/easybank"
             inherits="defaults"
             useLanguageSpecificLayout="true"
             graphQLEndpoint="/sitecore/api/graph/edge" />
      </apps>    
    </javaScriptServices>

    <!--
      Since this solution is designed for Sitecore-first JSS workflow, remove editor
      warnings regarding import overwrites.
    -->
    <pipelines>
      <group groupName="javaScriptServices">
        <pipelines>
            <item.getItemNotifications>
              <processor type="Sitecore.JavaScriptServices.AppServices.Pipelines.GetItemNotifications.IsItemAllowedForOverwrite, Sitecore.JavaScriptServices.AppServices">
                <patch:delete />
              </processor>
          </item.getItemNotifications>
        </pipelines>
      </group>
    </pipelines>

  </sitecore>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" patch:instead="add[@name='Access-Control-Allow-Origin']" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" patch:instead="add[@name='Access-Control-Allow-Headers']" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" patch:instead="add[@name='Access-Control-Allow-Methods']" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>
